<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.teamMapper">
	
	<select id="getTeam" resultType="Team" parameterType="int">
		select * from Team where team_id=#{team_Id}
	</select>
	
	<select id="getTeamList" resultType="Team" parameterType="String">
		<!-- 정렬기준? -->
		select * from Team where location=#{location} order by team_Id
	</select>
	
	<insert id="insertTeam" parameterType="Team">
		insert into team (team_id, team_name) values (team_seq.nextval, #{team_name})
	</insert>
	
	<update id="updateTeam" parameterType="Team">
		update team set 
		team_leader=#{team_leader], team_score=#{team_score},
		team_totalgame=#{team_totalgame}, team_wingame=#{team_wingame},
		team_draw=#{team_draw}, team_open=#{team_open}
		where team_id=#{team_id}
	</update>
	
	<delete id="deleteTeam" parameterType="int">
		delete from team where team_id=#{team_id}
	</delete>
	
	
</mapper>
